.header {
  &__global-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__global-menu-item {
    display: flex;
    padding: 4px 0;

    &--overnight-delivery {
      padding-left: 10px;
      padding-right: 8px;
    }

    &--pale-pink {
      padding-left: 18px;
    }

    &--shops {
      padding: 0 40px;
    }

    &--currency {
      padding-right: 60px;
    }

    &--delivery {
      padding: 0 30px;
    }

    &--contacts {
      padding-right: 78px;
    }

    &--languages {
      padding: 0 50px;
    }
  }

  &__global-menu-link {
    display: flex;
  }

  &__global-menu-label {
    margin-right: 4px;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin: 0 auto;
  }

  &__contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 170px;
    flex-grow: 1.1;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: right;
  }

  &__user-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  &__user-menu {
    display: flex;
    align-items: center;
  }

  &__user-menu-item {
    &--personal-office {
      padding-left: 104px;
      padding-right: 40px;
    }
  }

  &__user-menu-basket-count {
    padding: 8px;
  }
}
