.header {
  &__small-icon {
    margin-right: 4px;

    &--info {
      margin-right: 0;
      margin-left: 4px;
    }
  }

  &__user-menu-icon {
    margin-right: 8px;
  }

  &__logo-icon {
    padding-right: 8px;
  }
}
